*.pdf
*.txt
/build
/build/exe.win-amd64-3.12
/venv
log.txt
log_atend_erros.txt
log_cronometro.txt
log.txt
log_atend_erros.txt
log_cronometro.txt
log.txt
log.txt
log_atend_erros.txt
log.txt
log_atend_erros.txt
